{% set tdomain = "OpenSkoolAdminBundle_Periodo" %}
{% set entityLabel = "entity.label"|trans([],tdomain) %}

{% ui_dialog widgetVar="dlgShowPeriodo" title="dlg.show.title"|trans({'%name%': entityLabel}) modal="true"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}

    <div class="container-fluid" style="width:99%">
        <div class="row">
            <div class="col-md-12">
                <div class="control-group">
                    <label class="control-label" for="textinput">{{"Codigo"|trans([],tdomain)}}:</label>
                    <div class="controls">
                        {{ entity.codigo }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="control-group">
                    <label class="control-label" for="textinput">{{"Fechainicio"|trans([],tdomain)}}:</label>
                    <div class="controls">
                        {{ entity.fechaInicio|date('Y-m-d H:i:s') }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="control-group">
                    <label class="control-label" for="textinput">{{"Fechafin"|trans([],tdomain)}}:</label>
                    <div class="controls">
                        {{ entity.fechaFin|date('Y-m-d H:i:s') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

  <hr class="ui-widget-content">
    
  {% ui_button class="crud-btn-submit" onclick="rcPeriodoEditAgain()" value="action.edit"|trans %}
  {% remote_command update="#periodoWorkspace" 
       beforeSend=js_function("dlgShowPeriodo.wijdialog('destroy');") 
       type="GET" 
       url=path("periodo_edit", { "id": entity.id }) 
       name="rcPeriodoEditAgain" %}
    
  {% ajax_form id="frmDeletePeriodo"
       update="#periodoWorkspace"
       action=path("periodo_delete", { "id": entity.id })
       method="DELETE"
       beforeSubmit=js_function("$('.btnSubmitPeriodo').attr('disabled',true);")
       complete=js_function("jqXHR","
         if (jqXHR.status == 200){
           $.pnotify('" ~ "msg.delete.success"|trans({'%name%': entityLabel}) ~ "');
           dlgShowPeriodo.wijdialog('destroy');
           $('#periodoGrid').trigger('reloadGrid');
         }") 
  %}

    {{ form_widget(delete_form) }}
    {% ui_button class="crud-btn-submit btnSubmitPeriodo" type="submit" 
                 onclick="return confirm('" ~ "msg.delete.confirmation"|trans({'%name%': entityLabel }) ~ "')" 
                 value="action.delete"|trans %}

  {% end_ajax_form %}
{% end_ui_dialog %}