{% extends "YepsuaThemeBundle::main_layout.html.twig" %}
{% set instituto = app.session.get('instituto') %}
{% set title = instituto is empty ? 'Open Skool' : instituto.nombre %}

{% block layout_ajax_status %}

    {% ajax_status onstart="$.blockUI({'message':'"~ 'msg.please.wait'|trans ~ "'})"
          onsuccess="$.unblockUI()"
          oncomplete="$.unblockUI();$('.crud-btn-submit').removeAttr('disabled');"
          onerror=js_function("event,jqXHR,ajaxSettings,thrownError","$.unblockUI(); if(thrownError != 'canceled') alert('Ha ocurrido un error: ' + thrownError)")
          for="document" %}

{% endblock %}   

{% block layout_title  %}
    {% block title 'app.title'|trans({'%instituto%': title}, 'app') %}
{% endblock %}

{% block layout_include %}
    {% include 'YepsuaSmarTwigBundle::smartwigAssets.html.twig' %}
    {% include 'YepsuaGeneratorBundle::yepsuaGeneratorAssets.html.twig' %}
    {% include 'OpenSkoolCoreBundle::assets.html.twig' %}
    <script type="text/javascript" src="{{ asset('bundles/yepsuasmartwig/jquery4php-assets/js/plugins/jqgrid/i18n/grid.locale-es.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/yepsuasmartwig/jquery4php-assets/js/ui/i18n/jquery.ui.datepicker-es.js') }}"></script>
    
    <style type="text/css">
    label {
        margin-bottom: 0px;
    }

    form > .container-fluid > .row {
        margin-bottom: 10px;
    }

    form > .container-fluid > .ui-state-error-text {
        margin-bottom: 0px;
    }

    .ui-dialog-content > .container-fluid > .row {
        margin-bottom: 10px;
    }

    .control-group > .controls > input,
    .control-group > .controls > select,
    .control-group > .controls > textarea {
        height: auto;
        padding: 4px 6px;
        background: #fff none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        display: block;
        font-size: 14px;
        line-height: 1.42857;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        vertical-align: middle;
    }

    .controls > input, .controls > select, .controls > textarea {
        width: 99%;
    }

    .wijmo-wijmenu-parent > .wijmo-wijmenu-link > .ui-icon-triangle-1-e{
        float:right !important;
    }

    .default-margin, .with-default-margin > .row{
        margin: 15px;
    }

    .margin-bottom, .with-margin-bottom > .row{
        margin-bottom: 15px;
    }

  </style>
    
    {% block include '' %}
        
        
  
        
{% endblock %}

{% block layout_main_menu %}
    {{ knp_menu_render(['mainMenu','mnu.core'], {'allow_safe_labels': true}) }}
{% endblock %}

{% block layout_breadcrumb %}
<li><a href="{{ path("core_home") }}"><b>Inicio</b></a></li>
{% block breadcrumb ''%}
{% endblock %}
    
{% block layout_after_breadcrumb %}
    <b>Bienvenido: {{ app.user.username }}<b>
    {% block after_breadcrumb ''%}
{% endblock %}
    
{% block layout_left_content %}
    <div align="center">
        {% if instituto is not empty %}
            {% if instituto.imagen is not empty %}
                <img class="logo-image" width="100" height="100" src="{{ instituto.imagen.url }}" alt="logo"/>
            {% endif %}
            <br/>
            <span class="layout-label-institute">{{ instituto.nombre }}</span>
            <hr/>
        {% endif %}
        {% ui_datepicker inline=true %}
        Lunes 20 de Noviembre de 2014              
        {% block left_content '' %}
    </div>
{% endblock %}
    
{% block layout_content %}
    {% block content ''%}
{% endblock %}
    
{% block layout_footer_content %}
    {% block footer_content '' %}
{% endblock %}