{% set type = type is defined ? type : 'info' %}
{% extends "YepsuaThemeBundle:Message:"~ type ~".html.twig" %}
{% set _trans_domain = trans_domain is defined ? trans_domain : 'OpenSkoolCoreBundle' %}

{% block message %}
    {{message|trans([], _trans_domain)}}
{% endblock %}

{% block after_title %}
    {% if resolve_route is defined %}
        <table class="crud_header_buttonset">
            <tbody>
                    <tr>
                        <td>
                          {% if resolve_btn_label is defined %}
                                <a id="btnNoDataFound" href="{{ resolve_route }}" class="btn btn-danger btn-sm">{{ resolve_btn_label|trans([],_trans_domain) }}</a>
                            {% else %}
                                <a id="btnNoDataFound" href="{{ resolve_route }}" class="btn btn-danger btn-sm">{{ 'how.to.resolve' |trans([],_trans_domain) }}</a>
                          {% endif %}
                        </td>
                    </tr>
            </tbody>
        </table>
        {% ui_effect for="#btnNoDataFound" effect="bounce" %}
    {% endif %}
{% endblock %}

{% block after_message %}
    {% if resolve_route is defined %}
    <img src="{{ asset('bundles/openskoolstaticresources/images/arrows/curved_arrow-1331px.png') }}" alt="Create!" style="width: 100px; height: 80px; margin: 0px 0px 0px 30px;">
    {% endif %}
{% endblock %}