{% set tdomain = "OpenSkoolAdminBundle_Seccion" %}
{% set entityLabel = "entity.label"|trans([],tdomain) %}

{% ui_dialog widgetVar="dlgShowSeccion" title="dlg.show.title"|trans({'%name%': entityLabel}) modal="true"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}

    <div class="container-fluid" style="width:99%">
        <div class="row">
            <div class="col-md-12">
                <div class="control-group">
                    <label class="control-label" for="textinput">{{"Codigo"|trans([],tdomain)}}:</label>
                    <div class="controls">
                        {{ entity.codigo }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="control-group">
                    <label class="control-label" for="textinput">{{"Descripcion"|trans([],tdomain)}}:</label>
                    <div class="controls">
                        {{ entity.descripcion }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="ui-widget-content">
    
  {% ui_button class="crud-btn-submit" onclick="rcSeccionEditAgain()" value="action.edit"|trans %}
  {% remote_command update="#seccionWorkspace" 
       beforeSend=js_function("dlgShowSeccion.wijdialog('destroy');") 
       type="GET" 
       url=path("seccion_edit", { "id": entity.id }) 
       name="rcSeccionEditAgain" %}
    
  {% ajax_form id="frmDeleteSeccion"
       update="#seccionWorkspace"
       action=path("seccion_delete", { "id": entity.id })
       method="DELETE"
       beforeSubmit=js_function("$('.btnSubmitSeccion').attr('disabled',true);")
       complete=js_function("jqXHR","
         if (jqXHR.status == 200){
           $.pnotify('" ~ "msg.delete.success"|trans({'%name%': entityLabel}) ~ "');
           dlgShowSeccion.wijdialog('destroy');
           $('#seccionGrid').trigger('reloadGrid');
         }") 
  %}

    {{ form_widget(delete_form) }}
    {% ui_button class="crud-btn-submit btnSubmitSeccion" type="submit" 
                 onclick="return confirm('" ~ "msg.delete.confirmation"|trans({'%name%': entityLabel }) ~ "')" 
                 value="action.delete"|trans %}

  {% end_ajax_form %}

{% end_ui_dialog %}