{% set tdomain = "OpenSkoolAdminBundle_Mencion" %}
{% set entityLabel = "entity.label"|trans([],tdomain) %}

{% ui_dialog width="400" widgetVar="dlgShowMencion" title="dlg.show.title"|trans({'%name%': entityLabel}) modal="true"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}

    <div class="container-fluid" style="width:99%">
        <div class="row">
            <div class="col-md-12">
                <div class="control-group">
                    <label class="control-label" for="textinput">{{"Nombre"|trans([],tdomain)}}:</label>
                    <div class="controls">
                        {{ entity.nombre }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="control-group">
                    <label class="control-label" for="textinput">{{"Codigo"|trans([],tdomain)}}:</label>
                    <div class="controls">
                        {{ entity.codigo }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="control-group">
                    <label class="control-label" for="textinput">{{"Abreviatura"|trans([],tdomain)}}:</label>
                    <div class="controls">
                        {{ entity.abreviatura }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="control-group">
                    <label class="control-label" for="textinput">{{"Descripcion"|trans([],tdomain)}}:</label>
                    <div class="controls">
                        {{ entity.descripcion }}
                    </div>
                </div>
            </div>
        </div>
    </div>

  <hr class="ui-widget-content">
    
  {% ui_button class="crud-btn-submit" onclick="rcMencionEditAgain()" value="action.edit"|trans %}
  {% remote_command update="#mencionWorkspace" 
       beforeSend=js_function("dlgShowMencion.wijdialog('destroy');") 
       type="GET" 
       url=path("mencion_edit", { "id": entity.id }) 
       name="rcMencionEditAgain" %}
    
  {% ajax_form id="frmDeleteMencion"
       update="#mencionWorkspace"
       action=path("mencion_delete", { "id": entity.id })
       method="DELETE"
       beforeSubmit=js_function("$('.btnSubmitMencion').attr('disabled',true);")
       complete=js_function("jqXHR","
         if (jqXHR.status == 200){
           $.pnotify('" ~ "msg.delete.success"|trans({'%name%': entityLabel}) ~ "');
           dlgShowMencion.wijdialog('destroy');
           $('#mencionGrid').trigger('reloadGrid');
         }") 
  %}

    {{ form_widget(delete_form) }}
    {% ui_button class="crud-btn-submit btnSubmitMencion" type="submit" 
                 onclick="return confirm('" ~ "msg.delete.confirmation"|trans({'%name%': entityLabel }) ~ "')" 
                 value="action.delete"|trans %}

  {% end_ajax_form %}

{% end_ui_dialog %}