{% set tdomain = "OpenSkoolAdminBundle_Instituto" %}
{% set entityLabel = "entity.label"|trans([],tdomain) %}

{% ui_dialog width="700" widgetVar="dlgShowInstituto" title="dlg.show.title"|trans({'%name%': entityLabel}) modal="true"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}
  <div style="width:100%">
  
  <div class="container-fluid" style="width:99%">
    <div class="row" style="margin-bottom: 20px">
      <div class="col-md-4">
        <div class="control-group">
          <label class="control-label" for="textinput">{{"Codigo"|trans([],tdomain)}}:</label>
          <div class="controls">
            {{ entity.codigo }}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="control-group">
          <label class="control-label" for="textinput">{{"Nombre"|trans([],tdomain)}}:</label>
          <div class="controls">
            {{ entity.nombre }}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="textinput">{{"Acronimo"|trans([],tdomain)}}:</label>
          <div class="controls">
            {{ entity.acronimo }}
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px">
      <div class="col-md-12">
        <div class="control-group">
          <label class="control-label" for="textarea">{{"Descripcion"|trans([],tdomain)}}:</label>
          <div class="controls">                     
           {{ entity.descripcion }}
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px">
      <div class="col-md-12">
        <div class="control-group">
          <label class="control-label" for="textarea">{{"Direccion"|trans([],tdomain)}}:</label>
          <div class="controls">                     
            {{ entity.direccion }}
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px">
      <div class="col-md-12">
        <div class="control-group">
          <label class="control-label" for="filebutton">{{"Imagen"|trans([],tdomain)}}:</label>
          <div class="controls">
            {% include "YepsuaCommonsBundle::toUL.html.twig" with { 'entities' : entity.imagen} %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/><br/>
  <hr class="ui-widget-content">
    
  {% ui_button class="crud-btn-submit" onclick="rcInstitutoEditAgain()" value="action.edit"|trans %}
  {% remote_command update="#institutoWorkspace" 
       beforeSend=js_function("dlgShowInstituto.wijdialog('destroy');") 
       type="GET" 
       url=path("instituto_edit", { "id": entity.id }) 
       name="rcInstitutoEditAgain" %}
    
  {% ajax_form id="frmDeleteInstituto"
       update="#institutoWorkspace"
       action=path("instituto_delete", { "id": entity.id })
       method="DELETE"
       beforeSubmit=js_function("$('.btnSubmitInstituto').attr('disabled',true);")
       complete=js_function("jqXHR","
         if (jqXHR.status == 200){
           $.pnotify('" ~ "msg.delete.success"|trans({'%name%': entityLabel}) ~ "');
           dlgShowInstituto.wijdialog('destroy');
           $('#institutoGrid').trigger('reloadGrid');
         }") 
  %}

    {{ form_widget(delete_form) }}
    {% ui_button class="crud-btn-submit btnSubmitInstituto" type="submit" 
                 onclick="return confirm('" ~ "msg.delete.confirmation"|trans({'%name%': entityLabel }) ~ "')" 
                 value="action.delete"|trans %}

  {% end_ajax_form %}
  </div>
{% end_ui_dialog %}