{% set tdomain = "OpenSkoolAdminBundle_PensumAsignatura" %}
{% set entityLabel = "entity.label"|trans([], tdomain ) %}

{% ui_dialog width="500" widgetVar="dlgShowPensumAsignatura" title="dlg.show.title"|trans({'%name%': entityLabel}) modal="true"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}

    <div class="container-fluid" style="width:99%">
      <div class="row">
          <div class="col-md-6">
              <div class="control-group">
                  <label class="control-label" for="textinput">{{"Codigo"|trans([], tdomain)}}:</label>
                  <div class="controls">
                      {{ entity.codigo }}
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="control-group">
                  <label class="control-label" for="textinput">{{"Codigocurricular"|trans([], tdomain)}}:</label>
                  <div class="controls">
                      {{ entity.codigoCurricular }}
                  </div>
              </div>
          </div>

      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="control-group">
                  <label class="control-label" for="textinput">{{"Electiva"|trans([], tdomain)}}:</label>
                  <div class="controls">
                      {{ entity.electiva }}
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="control-group">
                  <label class="control-label" for="textinput">{{"Unidadescredito"|trans([], tdomain)}}:</label>
                  <div class="controls">
                      {{  entity.unidadesCredito }}
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="control-group">
                  <label class="control-label" for="textinput">{{"Horasteoricas"|trans([], tdomain)}}:</label>
                  <div class="controls">
                      {{ entity.horasTeoricas }}
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="control-group">
                  <label class="control-label" for="textinput">{{"Horaspracticas"|trans([], tdomain)}}:</label>
                  <div class="controls">
                      {{ entity.horasPracticas }}
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="control-group">
                  <label class="control-label" for="textinput">{{"Tipounidadcurricular"|trans([], tdomain)}}:</label>
                  <div class="controls">
                      {% include "YepsuaCommonsBundle::toUL.html.twig" with { 'entities' : entity.tipoUnidadCurricular} %}
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="control-group">
                  <label class="control-label" for="textinput">{{"Pensum"|trans([], tdomain)}}:</label>
                  <div class="controls">
                      {% include "YepsuaCommonsBundle::toUL.html.twig" with { 'entities' : entity.pensum} %}
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="control-group">
                  <label class="control-label" for="textinput">{{"Asignatura"|trans([], tdomain)}}:</label>
                  <div class="controls">
                      {% include "YepsuaCommonsBundle::toUL.html.twig" with { 'entities' : entity.asignatura} %}
                  </div>
              </div>
          </div>
      </div>
    </div>

  <hr class="ui-widget-content">
    
  {% ui_button class="crud-btn-submit" onclick="rcPensumAsignaturaEditAgain()" value="action.edit"|trans %}
  {% remote_command update="#pensumasignaturaWorkspace" 
       beforeSend=js_function("dlgShowPensumAsignatura.wijdialog('destroy');") 
       type="GET" 
       url=path("pensum_asignatura_edit", { "id": entity.id }) 
       name="rcPensumAsignaturaEditAgain" %}
    
  {% ajax_form id="frmDeletePensumAsignatura"
       update="#pensumasignaturaWorkspace"
       action=path("pensum_asignatura_delete", { "id": entity.id })
       method="DELETE"
       beforeSubmit=js_function("$('.btnSubmitPensumasignatura').attr('disabled',true);")
       complete=js_function("jqXHR","
         if (jqXHR.status == 200){
           $.pnotify('" ~ "msg.delete.success"|trans({'%name%': entityLabel}) ~ "');
           dlgShowPensumAsignatura.wijdialog('destroy');
           $('#pensumasignaturaGrid').trigger('reloadGrid');
         }") 
  %}

    {{ form_widget(delete_form) }}
    {% ui_button class="crud-btn-submit btnSubmitPensumasignatura" type="submit" 
                 onclick="return confirm('" ~ "msg.delete.confirmation"|trans({'%name%': entityLabel }) ~ "')" 
                 value="action.delete"|trans %}

  {% end_ajax_form %}

{% end_ui_dialog %}