{% set tdomain = "OpenSkoolAdminBundle_Carrera" %}
{% set entityLabel = "entity.label"|trans([],tdomain) %}

{% ui_dialog widgetVar="dlgShowCarrera" title="dlg.show.title"|trans({'%name%': entityLabel}) modal="true"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}

  <div class="container-fluid" style="width:99%">
      <div class="row">
          <div class="col-md-12">
              <div class="control-group">
                  <label class="control-label" for="textinput">{{"Codigo"|trans([],tdomain)}}:</label>
                  <div class="controls">
                      {{ entity.codigo }}
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="control-group">
                  <label class="control-label" for="textinput">{{"Titulo"|trans([],tdomain)}}:</label>
                  <div class="controls">
                      {% include "YepsuaCommonsBundle::toUL.html.twig" with { 'entities' : entity.titulo} %}
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="control-group">
                  <label class="control-label" for="textinput">{{"Mencion"|trans([],tdomain)}}:</label>
                  <div class="controls">
                      {% include "YepsuaCommonsBundle::toUL.html.twig" with { 'entities' : entity.mencion} %}
                  </div>
              </div>
          </div>
      </div>
  </div>

  <hr class="ui-widget-content">
    
  {% ui_button class="crud-btn-submit" onclick="rcCarreraEditAgain()" value="action.edit"|trans %}
  {% remote_command update="#carreraWorkspace" 
       beforeSend=js_function("dlgShowCarrera.wijdialog('destroy');") 
       type="GET" 
       url=path("carrera_edit", { "id": entity.id }) 
       name="rcCarreraEditAgain" %}
    
  {% ajax_form id="frmDeleteCarrera"
       update="#carreraWorkspace"
       action=path("carrera_delete", { "id": entity.id })
       method="DELETE"
       beforeSubmit=js_function("$('.btnSubmitCarrera').attr('disabled',true);")
       complete=js_function("jqXHR","
         if (jqXHR.status == 200){
           $.pnotify('" ~ "msg.delete.success"|trans({'%name%': entityLabel}) ~ "');
           dlgShowCarrera.wijdialog('destroy');
           $('#carreraGrid').trigger('reloadGrid');
         }") 
  %}

    {{ form_widget(delete_form) }}
    {% ui_button class="crud-btn-submit btnSubmitCarrera" type="submit" 
                 onclick="return confirm('" ~ "msg.delete.confirmation"|trans({'%name%': entityLabel }) ~ "')" 
                 value="action.delete"|trans %}

  {% end_ajax_form %}

{% end_ui_dialog %}