{% set tdomain = "OpenSkoolAdminBundle_PlanEstudiosWizard" %}
{% block content %}
  <div align="center">
    <ol class="ui-list">
      {% for asignaturaPlan in asignaturasPlan %}
        <li id="{{ asignaturaPlan.id }}" class="ui-list-item ui-widget-header">
          {{asignaturaPlan }} 
          <button id="btnPopUpAsignatura{{asignaturaPlan.id}}" onclick="popUpAsignatura{{asignaturaPlan.id}}.wijpopup('show')" type="button" class="btn btn-primary btn-xs ui-list-item-button">{{ 'menu.more'|trans }} <span class="caret"></span></button>
        </li>
        {% ui_popup id="popUpAsignatura" ~ asignaturaPlan.id  autoHide=true
             widgetVar="popUpAsignatura" ~ asignaturaPlan.id
             position={'of':jQuery("#btnPopUpAsignatura" ~ asignaturaPlan.id)}%}
          {% ui_panel class="dropdown-menu-panel" %}
            <ul onclick="popUpAsignatura{{asignaturaPlan.id}}.wijpopup('hide')" class="dropdown-menu dropdown-menu-visible" role="menu">
              <li onclick="obtenerPrelaciones({{asignaturaPlan.id }});" role="presentation"><a role="menuitem" tabindex="-1" href="#">Prelaciones</a></li>
              <li role="presentation" class="divider"></li>
              <li onclick="eliminarEtapaAsignatura({{asignaturaPlan.id }});" role="presentation"><a role="menuitem" tabindex="-1" href="#">{{ 'action.delete'|trans }}</a></li>
            </ul>
          {% end_ui_panel %}
        {% end_ui_popup %}
      {% else %}
        {{"tab.asignatura.etapas.label.data.not.found"|trans([],tdomain)}}
        {% ui_effect for="#btnAddAsignatura" effect="bounce" %}
      {% endfor %}
    </ol>
  </div>
  <br/>
  <button id="btnAddAsignatura" onclick="dlgAsignatura.wijdialog('open');" type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-plus"></i> {{ 'action.add'|trans }}</button>

  {% include 'OpenSkoolAdminBundle:AdminPlanEstudios:dialog_asignatura.html.twig' %}
  
{% endblock %}