{% set tdomain = "OpenSkoolAdminBundle_Facultad" %}
{% set entityLabel = "entity.label"|trans([],tdomain) %}

{% ui_dialog widgetVar="dlgShowFacultad" title="dlg.show.title"|trans({'%name%': entityLabel}) modal="true"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}

    <div class="container-fluid" style="width:99%">
        <div class="row">
            <div class="col-md-12">
                <div class="control-group">
                    <label class="control-label" for="textinput">{{"Codigo"|trans([],tdomain)}}:</label>
                    <div class="controls">
                        {{ entity.codigo }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="control-group">
                    <label class="control-label" for="textinput">{{"Nombre"|trans([],tdomain)}}:</label>
                    <div class="controls">
                        {{ entity.nombre }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="control-group">
                    <label class="control-label" for="textinput">{{"Instituto"|trans([],tdomain)}}:</label>
                    <div class="controls">
                        {% include "YepsuaCommonsBundle::toUL.html.twig" with { 'entities' : entity.instituto} %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="control-group">
                    <label class="control-label" for="textinput">{{"Carrera"|trans([],tdomain)}}:</label>
                    <div class="controls">
                        {% include "YepsuaCommonsBundle::toUL.html.twig" with { 'entities' : entity.carrera} %}
                    </div>
                </div>
            </div>
        </div>
    </div>

  <hr class="ui-widget-content">
    
  {% ui_button class="crud-btn-submit" onclick="rcFacultadEditAgain()" value="action.edit"|trans %}
  {% remote_command update="#facultadWorkspace" 
       beforeSend=js_function("dlgShowFacultad.wijdialog('destroy');") 
       type="GET" 
       url=path("facultad_edit", { "id": entity.id }) 
       name="rcFacultadEditAgain" %}
    
  {% ajax_form id="frmDeleteFacultad"
       update="#facultadWorkspace"
       action=path("facultad_delete", { "id": entity.id })
       method="DELETE"
       beforeSubmit=js_function("$('.btnSubmitFacultad').attr('disabled',true);")
       complete=js_function("jqXHR","
         if (jqXHR.status == 200){
           $.pnotify('" ~ "msg.delete.success"|trans({'%name%': entityLabel}) ~ "');
           dlgShowFacultad.wijdialog('destroy');
           $('#facultadGrid').trigger('reloadGrid');
         }") 
  %}

    {{ form_widget(delete_form) }}
    {% ui_button class="crud-btn-submit btnSubmitFacultad" type="submit" 
                 onclick="return confirm('" ~ "msg.delete.confirmation"|trans({'%name%': entityLabel }) ~ "')" 
                 value="action.delete"|trans %}

  {% end_ajax_form %}
{% end_ui_dialog %}