{% set tdomain = "YepsuaLocalityBundle_Locality" %}
{% set entityLabel = "entity.label"|trans([], tdomain ) %}

{% ui_dialog widgetVar="dlgShowLocality" title="dlg.show.title"|trans({'%name%': entityLabel}) modal="true"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}
  <div style="width:100%">
  <table class="record_properties">
    <tbody>
      <tr>
        <td><b>{{"Name"|trans([], tdomain)}}:</b></td>
        <td>{{ entity.name }}</td>
      </tr>
      <tr>
        <td><b>{{"Code"|trans([], tdomain)}}:</b></td>
        <td>{{ entity.code }}</td>
      </tr>
      <tr>
        <td><b>{{"Id"|trans([], tdomain)}}:</b></td>
        <td>{{ entity.id }}</td>
      </tr>
      <tr>
        <td><b>{{"Cities"|trans([], tdomain)}}:</b></td>
        <td>{% include "YepsuaCommonsBundle::toUL.html.twig" with { 'entities' : entity.cities} %}</td>
      </tr>
      <tr>
        <td><b>{{"Country"|trans([], tdomain)}}:</b></td>
        <td>{% include "YepsuaCommonsBundle::toUL.html.twig" with { 'entities' : entity.country} %}</td>
      </tr>      
    </tbody>
  </table>

  <br/><br/>
  <hr class="ui-widget-content">
    
  {% ui_button class="crud-btn-submit" onclick="rcLocalityEditAgain()" value="action.edit"|trans %}
  {% remote_command update="#localityWorkspace" 
       beforeSend=js_function("dlgShowLocality.wijdialog('destroy');") 
       type="GET" 
       url=path("locality_edit", { "id": entity.id }) 
       name="rcLocalityEditAgain" %}
    
  {% ajax_form id="frmDeleteLocality"
       update="#localityWorkspace"
       action=path("locality_delete", { "id": entity.id })
       method="DELETE"
       beforeSubmit=js_function("$('.btnSubmitLocality').attr('disabled',true);")
       complete=js_function("jqXHR","
         if (jqXHR.status == 200){
           $.pnotify('" ~ "msg.delete.success"|trans({'%name%': entityLabel}) ~ "');
           dlgShowLocality.wijdialog('destroy');
           $('#localityGrid').trigger('reloadGrid');
         }") 
  %}

    {{ form_widget(delete_form) }}
    {% ui_button class="crud-btn-submit btnSubmitLocality" type="submit" 
                 onclick="return confirm('" ~ "msg.delete.confirmation"|trans({'%name%': entityLabel }) ~ "')" 
                 value="action.delete"|trans %}

  {% end_ajax_form %}
    </div>
{% end_ui_dialog %}