{% set tdomain = "OpenSkoolAdminBundle_Asignatura" %}
{% set entityLabel = "entity.label"|trans([],tdomain) %}

{% ui_dialog widgetVar="dlgShowAsignatura" title="dlg.show.title"|trans({'%name%': entityLabel}) modal="true"
             close=js_function('$(this).dialog( "destroy" );$(this).remove();') %}
  <div style="width:100%">
  <table class="record_properties">
    <tbody>
      <tr>
        <td><b>{{"Id"|trans([],tdomain)}}:</b></td>
        <td>{{ entity.id }}</td>
      </tr>
      <tr>
        <td><b>{{"Codigo"|trans([],tdomain)}}:</b></td>
        <td>{{ entity.codigo }}</td>
      </tr>
      <tr>
        <td><b>{{"Nombre"|trans([],tdomain)}}:</b></td>
        <td>{{ entity.nombre }}</td>
      </tr>
      <tr>
        <td><b>{{"Asignaturapadre"|trans([],tdomain)}}:</b></td>
        <td>{% include "YepsuaCommonsBundle::toUL.html.twig" with { 'entities' : entity.asignaturaPadre} %}</td>
      </tr>      
    </tbody>
  </table>

  <br/><br/>
  <hr class="ui-widget-content">
    
  {% ui_button class="crud-btn-submit" onclick="rcAsignaturaEditAgain()" value="action.edit"|trans %}
  {% remote_command update="#asignaturaWorkspace" 
       beforeSend=js_function("dlgShowAsignatura.wijdialog('destroy');") 
       type="GET" 
       url=path("asignatura_edit", { "id": entity.id }) 
       name="rcAsignaturaEditAgain" %}
    
  {% ajax_form id="frmDeleteAsignatura"
       update="#asignaturaWorkspace"
       action=path("asignatura_delete", { "id": entity.id })
       method="DELETE"
       beforeSubmit=js_function("$('.btnSubmitAsignatura').attr('disabled',true);")
       complete=js_function("jqXHR","
         if (jqXHR.status == 200){
           $.pnotify('" ~ "msg.delete.success"|trans({'%name%': entityLabel}) ~ "');
           dlgShowAsignatura.wijdialog('destroy');
           $('#asignaturaGrid').trigger('reloadGrid');
         }") 
  %}

    {{ form_widget(delete_form) }}
    {% ui_button class="crud-btn-submit btnSubmitAsignatura" type="submit" 
                 onclick="return confirm('" ~ "msg.delete.confirmation"|trans({'%name%': entityLabel }) ~ "')" 
                 value="action.delete"|trans %}

  {% end_ajax_form %}
    <div style="width:100%">
{% end_ui_dialog %}